<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/lightbox.css" />
    <link href="~/css/bootstrap-formhelpers.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/css/toastmessage-min.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />



    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>-->
    <!-- Bootstrap jQuery plugins compiled and minified -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/js/jquery.dropdown.js"></script>
    <script src="~/Scripts/_references.js"></script>
    <script src="~/Scripts/jquery-1.7.1.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/knockout-2.1.0.debug.js"></script>
    <script src="~/Scripts/knockout-2.1.0.js"></script>

    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/jqurey.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="/js/jquery.smooth-scroll.min.js"></script>
    <script src="/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>

    <script src="/js/holder.js"></script>
    <script src="~/js/responsiveImg.js"></script>
    <script src="~/js/bootstrap-formhelpers-phone.format.js"></script>
    <script src="~/js/bootstrap-formhelpers-phone.js"></script>
    <script src="~/js/jquery.simplePagination.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-button.js"></script>

    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>

    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="~/js/toastmessage-min.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/jquery.flexslider-min.js"></script>



    <!-- site style -->
    <style>
        body {
            /*background-color: #484646;
            background-image: url(main-bg.jpg);*/
            background-color: white;
            font-family: 'Lato', Calibri, Arial, sans-serif;
           
            /*background-image: url(/img/main-bg-1.gif);*/
            border-top: solid #a2a5a2 15px;
            border-bottom: solid #a2a5a2 15px;
        }

        /* Custom container */
        .one {
            background-color: white;
            /*background-image: url(/img/main-bg-1.gif);*/
            /*padding-top:50px;*/
            /*-webkit-box-shadow: 0px 0px 27px rgba(50, 50, 50, 1);
            -moz-box-shadow: 0px 0px 27px rgba(50, 50, 50, 1);
            box-shadow: 0px 0px 27px rgba(50, 50, 50, 1);*/
            /*padding-left: 50px;
            padding-right: 50px;*/
        }

        #mainnav {
            font-size: 14px;
        }
    </style>
    <!-- site style end-->

</head>
<body class="body">
    <!-- container -->
    <div class="container one">
        @RenderBody()


        <!-- footer -->
        <div class="footer">
            <br />
            <br />
            <p class="text-center"><strong>Designed and developed by RIZWAN ALI (BITF10A001) © 2013</strong></p>
            <p class="text-center">
                <a href="#" class="facebook">
                    <img src="/img/glyphicons_410_facebook.png" style="height: 30px;" /></a>
                <a href="#" class="google">
                    <img src="/img//glyphicons_382_google_plus.png" style="height: 30px;" /></a>
                <a href="#" class="skype">
                    <img src="/img/glyphicons_418_skype.png" style="height: 30px;" /></a>
                <a href="#" class="mail">
                    <img src="/img/glyphicons_419_e-mail.png" style="height: 30px;" /></a>
            </p>
            <br />
        </div>
        <!-- footer end-->

    </div>
</body>
</html>
